body {
    font-family: 'Segoe UI';
    background: #f4f6f9;
    margin: 0;
}

.hero {
    text-align: center;
    padding: 100px;
    background: linear-gradient(120deg, #1a73e8, #0b4dbb);
    color: white;
}

.hero input {
    padding: 15px;
    width: 250px;
}

.hero button {
    padding: 15px;
    background: black;
    color: white;
}

.admin-link {
    display: block;
    margin-top: 20px;
    color: white;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.grid input {
    display: block;
    margin: 10px;
    padding: 10px;
}

button {
    background: #1a73e8;
    color: white;
    padding: 10px;
    border: none;
}

#map {
    height: 300px;
    margin-top: 20px;
}
