<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="card">

<h2>Create Shipment</h2>

<form method="POST">
<input name="sender" placeholder="Sender" required>
<input name="receiver" placeholder="Receiver" required>
<input name="address" placeholder="Delivery Address" required>
<input name="weight" placeholder="Weight">
<input name="fee" placeholder="Fee">
<input name="location" placeholder="Current Location">

<select name="status">
<option>In Transit</option>
<option>Out for Delivery</option>
<option>Delivered</option>
<option>Cancelled</option>
</select>

<button>Create Shipment</button>
</form>

</div>

<div class="card">

<h2>Shipments</h2>

{% for s in shipments %}
<p><strong>{{ s['tracking'] }}</strong> - {{ s['status'] }}</p>
{% endfor %}

</div>

</body>
</html>
