{% extends "base.html" %}
{% block content %}

<h2 style="text-align:center;">Admin Dashboard</h2>

<div style="text-align:center;">
<a href="/create">+ Create Shipment</a>
</div>

<table>
<tr>
<th>Tracking</th>
<th>Status</th>
<th>Location</th>
<th>Update</th>
</tr>

{% for d in data %}
<tr>
<td>{{ d[1] }}</td>
<td>{{ d[2] }}</td>
<td>{{ d[3] }}</td>

<td>
<form action="/update/{{ d[1] }}" method="POST">
<input name="location" placeholder="New location">
<button>Update</button>
</form>
</td>

</tr>
{% endfor %}
</table>

{% endblock %}
