<!DOCTYPE html>
<html>
<head>
<title>Amex Courier</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- NAVBAR -->
<div class="nav">
    <div class="logo-area">
        <img src="/images/logo.png">
        <h2>Amex Courier</h2>
    </div>

    <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>
</div>

<!-- HERO -->
<section class="hero">
    <h1>Fast & Reliable Global Shipping</h1>
    <p>Track shipments anywhere in the world</p>

    <form action="/track" method="POST">
        <input name="tracking" placeholder="Enter Tracking Number">
        <button>Track Package</button>
    </form>
</section>

<!-- SERVICES -->
<section class="services">

    <h2>Our Services</h2>

    <div class="grid">

        <div class="card">
            <h3>Express Delivery</h3>
            <p>Fast delivery worldwide</p>
        </div>

        <div class="card">
            <h3>International Shipping</h3>
            <p>200+ countries covered</p>
        </div>

        <div class="card">
            <h3>Secure Logistics</h3>
            <p>Safe and reliable handling</p>
        </div>

    </div>

</section>

<!-- FOOTER -->
<footer>
    <p>Contact: frankiebreeuwsma@myself.com</p>
</footer>

</body>
</html>
